.EmptyStateDay{
    display: block;
    flex: 1 0 0%;
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: none;

    background: transparent;
}

.Day > button {
    display: block;
    flex: 1 0 0%;
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    outline: none;
    border: none;
}

.Day > div > button{
    display: block;
    flex: 1 0 0%;
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    outline: none;
    border: none;
}

.Selected{
    display: block;
    flex: 1 0 0%;
    width: 100%;
    padding: 0.8rem;

    background: rgb(0, 185, 175);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.MultiSelected{
    display: block;
    flex: 1 0 0%;
    width: 100%;
    padding: 0.8rem;

    background: rgb(73, 161, 251);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.BetweenSelected{
    background: rgb(234, 249, 248);    
}

.Gray{   
    background: transparent;
    color:  rgb(213, 213, 213);
}

.Green{
    background: transparent;
    color:  rgb(44, 199, 50);
}

.Black{ 
    background: transparent; 
    color: black;   
}

.Red{ 
    background: transparent;  
    color: rgb(242, 97, 98);
}

.Blue{  
    background: transparent;
    color: rgb(73, 161, 251);
}

.ButtonLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ButtonText{
    font-size: 0.7em; 
}